name: CI
on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y nasm
      - name: Verify tools
        run: |
          nasm --version
          ld --version
      - name: Run tests
        run: cargo test
